@media only screen and (max-width: 370px) {
  *{
    padding: 0%;
    margin: 0%;
  }
  input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  body{
    background-color: #000;
  }
  #input-display{
    caret-color: transparent;
    width: 97%;
    padding: 20% 0 3% 0;
    background-color: #000;
    color: #fff;
    text-align:end ;
    border: 0ch;
    font-size: 70px;
  }
  #input-display:focus{
    outline: none;
    box-shadow: none;
  }
  #calci{
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  h2{
    height: 28%;
    background-color: #fff;
    margin: 28% 0 0 0;
  }
  .btns, .btn-zero{
    color: white;
    background-color: rgb(51, 51, 51);
    border: 0vh;
    font-size: xx-large;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    margin: 1px 0 1px 0;
    padding: 2%;
  }
  .btn-zero{
    border-start-end-radius: 25% 50%;
    border-end-end-radius: 25% 50%;
    border-top-left-radius: 25% 50% ;
    border-bottom-left-radius: 25% 50%;
    width: 26.18vh;
  }
  .r1c4{
    color: #fff;
  }
  #row-1 .threebtns{
    color: rgb(255, 151, 151);
  }
  .column-4{
    background-color: rgb(255, 151, 151);
  }
}

@media only screen and (min-width: 370px) {
  *{
    padding: 0%;
    margin: 0%;
  }
  input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  body{
    background-color: #000;
  }
  #input-display{
    caret-color: transparent;
    width: 97%;
    padding: 20% 0 3% 0;
    background-color: #000;
    color: #fff;
    text-align:end ;
    border: 0ch;
    font-size: 70px;
  }
  #input-display:focus{
    outline: none;
    box-shadow: none;
  }
  #calci{
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  h2{
    height: 28%;
    background-color: #fff;
    margin: 28% 0 0 0;
  }
  .btns, .btn-zero{
    color: white;
    background-color: rgb(51, 51, 51);
    border: 0vh;
    font-size: xx-large;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 1px 0 1px 0;
    padding: 2%;
  }
  .btn-zero{
    border-start-end-radius: 25% 50%;
    border-end-end-radius: 25% 50%;
    border-top-left-radius: 25% 50% ;
    border-bottom-left-radius: 25% 50%;
    width: 180px;
  }
  .r1c4{
    color: #fff;
  }
  #row-1 .threebtns{
    color: rgb(255, 151, 151);
  }
  .column-4{
    background-color: rgb(255, 151, 151);
  }
}

@media only screen and (min-width: 992px) {
  *{
    padding: 0%;
    margin: 0%;
  }
  input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  body{
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #input-display{
    caret-color: transparent;
    width: 44%;
    padding: 20% 0 3% 0;
    background-color: #000;
    color: #fff;
    text-align:end ;
    border: 0ch;
    font-size: 70px;
  }
  #input-display:focus{
    outline: none;
    box-shadow: none;
  }
  #calci{
    text-align: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    bottom: 2vh;
  }
  h2{
    bottom: 2vh;
    background-color: #fff;
  }
  .btns, .btn-zero{
    color: white;
    background-color: rgb(51, 51, 51);
    border: 0vh;
    font-size: xx-large;
    border-radius: 50%;
    width: 95px;
    height: 95px;
    margin: 3px 0 1px 0;
    padding: 2%;
  }
  .btn-zero{
    border-start-end-radius: 25% 50%;
    border-end-end-radius: 25% 50%;
    border-top-left-radius: 25% 50% ;
    border-bottom-left-radius: 25% 50%;
    width: 182px;
  }
  .r1c4{
    color: #fff;
  }
  #row-1 .threebtns{
    color: rgb(255, 151, 151);
  }
  .column-4{
    background-color: rgb(255, 151, 151);
  }
}